@page
@using ExamSystem
@using ExamSystem.Data.Static
@model ExamSystem.Data.ViewModels.PaperViewVM
@*@inject IWebHostEnvironment _webHostEnvironment*@

@{
    //var path = _webHostEnvironment.WebRootPath + WC.QrCodes + qrcode;
    ViewData["Title"] = "Paper View";
    //Layout = "_DashboardLayout";
    int i = 1;
    int j = 1;
    int k = 1;
}



<html>
<body>
    <!-- Header Sectio Start-->
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="row border">
        <div class="col-2 text-center align-self-center">
            <img src="@WC.ProfileImagePath@Model.Setting.SchoolLogo" width="120" height="120">
        </div>
        <div class="col border">
            <div class="row border">
                <div class="col-sm-8">
                    <h1 class="text-uppercase text-center text-primary">@Model.Setting.SchoolName</h1>
                </div>
                <div class="col border">
                    <p style="align-content:center; color:red;">Barcode &amp; System Generated text</p>
                </div>
            </div>
            <div class="row border">
                <div class="col  border">
                    <h4>Exam: @Model.Setting.ExamName</h4>
                    <input asp-for="@Model.Setting.ExamName" hidden />
                </div>
                <div class="col border">
                    <h4>Subject: @Model.Setting.SubjectName </h4>
                </div>
                <div class="col border">
                    <h4>Class: @Model.Setting.ClassName </h4>
                    <h4>Teacher: @Model.Setting.TeacherName</h4>
                </div>
            </div>
        </div>
        <div id="QrCodeArea" class="col-2 text-center align-self-center">
            @*<img src="@WC.QrCodePath@Model.Setting.QrCode" width="120" height="120">*@
        </div>
    </div>
    <div class="row border">
        <div class="col border">
            <div class="row ">
                <div class="col-12">
                    <p>Date:@Model.Setting.ConductDate.ToString("dd - MMM - yyyy")</p>
                </div>
                <div class="col-12">
                    <p>Total Marks: @Model.Setting.TotalMarks</p>
                </div>
            </div>
        </div>
        <div class="col-8">
            <div class="row ">
                <div class="col-3 border-right">
                    <p>Roll No:</p>
                </div>
                <div class="col-9">
                    <p>Student Name:</p>
                </div>
            </div>
        </div>
        <div class="col border">
            <div class="row ">
                <div class="col ">
                    <p>Time Alocated:@Model.Setting.Duration minutes</p>
                </div>
                <p>Passing Marks @Model.Setting.PassingMarks</p>
            </div>
        </div>
    </div>
    <div class="row border">
        <div class="col ">
            <p>Exam Instructions</p>
            <p> @Model.Setting.Instructions</p>
        </div>
    </div>

    <!-- Paper Section Starts-->

    <div class="row">
        <!-- Question Section-->
        <div id="question" class="table  table-hover pb-5 pt-5">
            <div class="h2 text-center"> Section: Obejctive Part </div>
            <div class="row">
                <div class="col-lg-5 col-md-5 col-sm-10 col-10 mb-2 text-left">
                    <h5><strong>Question No 1:</strong>Select the appropriate option from following?</h5>
                </div>
                <div class="col-lg-2 col-md-2 col-sm-2 col-2 text-center">
                    Marks = @(@Model.Setting.MCQsMarks * @Model.MCQs.Count(x => x.QuestionType == QuestionTypes.MCQ))
                </div>
                <div class="col-lg-5 col-md-5 col-sm-10 col-10 mb-2 text-right" dir="rtl">
                    <h5 style="font-family:'Jameel Noori Nastaleeq' !important;"><strong>سوال نمبر 1:</strong>درست جواب کا انتخاب کریں؟</h5>
                </div>
            </div>
            @foreach (var qitem in Model.MCQs)
            {
                if (qitem.QuestionType == @QuestionTypes.MCQ)
                {
                    <div class="border mb-2">
                        <!-- Objective Paper Part-->
                        <div class="row">
                            <div class="col-lg-6 col-md-6 col-sm-10 col-10 mb-2 text-left">
                                @i:  @qitem.QuestionText
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-10 col-10 mb-2 text-right" dir="rtl">
                                @i: <span style="font-family:'Jameel Noori Nastaleeq' !important;">@qitem.QuestionTextL</span>
                            </div>
                        </div>
                        <div class="row text-center">
                            <div class="col-lg-3 col-md-3 col-sm-6 col-6">
                                @qitem.OptionsQnA.Choice1 &nbsp;
                                <span style="font-family:'Jameel Noori Nastaleeq' !important;">@qitem.OptionsQnA.ChoiceL1</span>
                            </div>
                            <div class="col-lg-3 col-md-3 col-sm-6 col-6">
                                @qitem.OptionsQnA.Choice2 &nbsp;
                                <span style="font-family:'Jameel Noori Nastaleeq' !important;">@qitem.OptionsQnA.ChoiceL2</span>
                            </div>
                            <div class="col-lg-3 col-md-3 col-sm-6 col-6">
                                @qitem.OptionsQnA.Choice3 &nbsp;
                                <span style="font-family:'Jameel Noori Nastaleeq' !important;">@qitem.OptionsQnA.ChoiceL3</span>
                            </div>
                            <div class="col-lg-3 col-md-3 col-sm-6 col-6">
                                @qitem.OptionsQnA.Choice4 &nbsp;
                                <span style="font-family:'Jameel Noori Nastaleeq' !important;">@qitem.OptionsQnA.ChoiceL4</span>
                            </div>
                        </div>
                    </div>
                }
                i++;
            }
            <hr style="background-color: white; height: 1px; border: 0;" />
            <div class="h2 text-center"> Section: Subjective Part </div>
            <div class="row">
                <div class="col-lg-5 col-md-5 col-sm-10 col-10 mb-2 text-left">
                    <h5><strong>Question No 2:</strong>Give short answer to following questions۔</h5>
                </div>
                <div class="col-lg-2 col-md-2 col-sm-2 col-2 text-center">
                    Marks = @(@Model.Setting.SEQsMarks * @Model.SEQs.Count(x => x.QuestionType == QuestionTypes.SEQ))
                </div>
                <div class="col-lg-5 col-md-5 col-sm-10 col-10 mb-2 text-right" dir="rtl">
                    <h5 style="font-family:'Jameel Noori Nastaleeq' !important;"><strong>سوال نمبر 2:</strong>درج زیل سوالات کا مختصر جواب دیں۔</h5>
                </div>
            </div>
            @foreach (var sitem in Model.SEQs)
            {

                if (sitem.QuestionType == @QuestionTypes.SEQ)
                {
                    <div class="row">
                        <div class="col-lg-5 col-md-5 col-sm-12 col-12 mb-2 text-left">
                            @j: @sitem.QuestionText
                        </div>
                        <div class="col-lg-2 col-md-2 col-sm-2 col-2 text-center">
                            (@Model.Setting.SEQsMarks)
                        </div>
                        <div class="col-lg-5 col-md-5 col-sm-12 col-12 mb-2 text-right" dir="rtl">
                            @j: <span style="font-family:'Jameel Noori Nastaleeq' !important;">@sitem.QuestionTextL</span>
                        </div>
                    </div>

                }
                j++;
            }
            <hr style="background-color: white; height: 1px; border: 0;" />
            <div class="row">
                <div class="col-lg-5 col-md-5 col-sm-10 col-10 mb-2 text-left">
                    <h5><strong>Note:</strong>Answer in details</h5>
                </div>
                <div class="col-lg-2 col-md-2 col-sm-2 col-2 text-center">
                    Marks = @(@Model.Setting.LongQsMarks * @Model.LongQs.Count(x => x.QuestionType == QuestionTypes.Long_Question))
                </div>
                <div class="col-lg-5 col-md-5 col-sm-10 col-10 mb-2 text-right" dir="rtl">
                    <h5 style="font-family:'Jameel Noori Nastaleeq' !important;"><strong>نوٹ:</strong> تفصیل سے جواب دیں</h5>
                </div>
            </div>
            @foreach (var litem in Model.LongQs)
            {
                if (litem.QuestionType == @QuestionTypes.Long_Question)
                {
                    <!-- Long Questions -->
                    <div class="row">
                        <div class="col-lg-5 col-md-5 col-sm-12 col-12 mb-2 text-left">
                            @k: @litem.QuestionText
                        </div>
                        <div class="col-lg-2 col-md-2 col-sm-2 col-2 text-center">
                            (@Model.Setting.LongQsMarks)
                        </div>
                        <div class="col-lg-5 col-md-5 col-sm-12 col-12 mb-2 text-right" dir="rtl">
                            @k: <span style="font-family:'Jameel Noori Nastaleeq' !important;">@litem.QuestionTextL</span>
                        </div>
                    </div>
                }
                k++;
            }
            <hr style="background-color: white; height: 1px; border: 0;" />
        </div>
    </div>

</body>
</html>

