@inject UserManager<ApplicationUser> userManager;
@using ExamSystem;
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>@ViewBag.Title | Dashboard</title>

    <!-- Google Font: Source Sans Pro | Urdu Noto Nastaliq -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback">
    <!-- Font Awesome Icons -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <!-- overlayScrollbars -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/overlayscrollbars/1.13.3/css/OverlayScrollbars.css" integrity="sha512-LSGPGnehGYGsh7/QTPRwe1VGplv3tVHmlDw6hI/hrEYaaI0OBFE2x6Pdo8DdAKIkJuYfbShXwDjq/SJxbsE9Tg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <!-- dataTable cdn for bootstrap tables-->
    <link rel="stylesheet" type="text/css" href="~/admin/css/datatables.min.css" />
    <!-- Rich Text Editor SummerNote-->

    <!-- Rich Text Editor SummerNote-->
    <link href="https://cdn.jsdelivr.net/npm/summernote@0.8.18/dist/summernote.min.css" rel="stylesheet">
    <!-- Theme style -->
    <link rel="stylesheet" href="~/admin/css/adminlte.min.css">

</head>

@{
    var user = await userManager.GetUserAsync(User);
    var profilepicName = user.ProfileImage;
    var profilePicPath = WC.ProfileImagePath + profilepicName ?? "avatar.png";
}
<body class="hold-transition dark-mode sidebar-mini layout-fixed layout-navbar-fixed layout-footer-fixed">
    <div class="wrapper">

        <!-- Navbar -->
        <nav class="main-header navbar navbar-expand navbar-dark">
            <!-- Left navbar links -->
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" data-widget="pushmenu" href="#" role="button"><i class="fas fa-bars"></i></a>
                </li>
                <li class="nav-item d-none d-sm-inline-block main-breadcrumb">
                    <a asp-controller="Dashboard" asp-action="Index" class="nav-link">Dashboard</a>
                </li>
            </ul>
            <!-- Right navbar links -->
            <ul class="navbar-nav ml-auto">
                <!-- Navbar Search -->
                <li class="nav-item">
                    <a class="nav-link" data-widget="navbar-search" href="#" role="button">
                        <i class="fas fa-search"></i>
                    </a>
                    <div class="navbar-search-block">
                        <form class="form-inline">
                            <div class="input-group input-group-sm">
                                <input class="form-control form-control-navbar" type="search" placeholder="Search" aria-label="Search">
                                <div class="input-group-append">
                                    <button class="btn btn-navbar" type="submit">
                                        <i class="fas fa-search"></i>
                                    </button>
                                    <button class="btn btn-navbar" type="button" data-widget="navbar-search">
                                        <i class="fas fa-times"></i>
                                    </button>
                                </div>
                            </div>
                        </form>
                    </div>
                </li>

                <!-- Messages Dropdown Menu -->
                <li class="nav-item dropdown">
                    <a class="nav-link" data-toggle="dropdown" href="#">
                        <i class="far fa-comments"></i>
                        <span class="badge badge-danger navbar-badge">3</span>
                    </a>
                    <div class="dropdown-menu dropdown-menu-lg dropdown-menu-right">
                        <a href="#" class="dropdown-item">
                            <!-- Message Start -->
                            <div class="media">
                                <img src="~/admin/img/user1-128x128.jpg" alt="User Avatar" class="img-size-50 mr-3 img-circle">
                                <div class="media-body">
                                    <h3 class="dropdown-item-title">
                                        Brad Diesel
                                        <span class="float-right text-sm text-danger"><i class="fas fa-star"></i></span>
                                    </h3>
                                    <p class="text-sm">Call me whenever you can...</p>
                                    <p class="text-sm text-muted"><i class="far fa-clock mr-1"></i> 4 Hours Ago</p>
                                </div>
                            </div>
                            <!-- Message End -->
                        </a>
                        <div class="dropdown-divider"></div>
                        <a href="#" class="dropdown-item">
                            <!-- Message Start -->
                            <div class="media">
                                <img src="@profilePicPath" alt="User Avatar" class="img-size-50 img-circle mr-3">
                                <div class="media-body">
                                    <h3 class="dropdown-item-title">
                                           @user.UserName
                                        <span class="float-right text-sm text-muted"><i class="fas fa-star"></i></span>
                                    </h3>
                                    <p class="text-sm">I got your message bro</p>
                                    <p class="text-sm text-muted"><i class="far fa-clock mr-1"></i> 4 Hours Ago</p>
                                </div>
                            </div>
                            <!-- Message End -->
                        </a>
                        <div class="dropdown-divider"></div>
                        <a href="#" class="dropdown-item">
                            <!-- Message Start -->
                            <div class="media">
                                <img src="~/admin/img/user3-128x128.jpg" alt="User Avatar" class="img-size-50 img-circle mr-3">
                                <div class="media-body">
                                    <h3 class="dropdown-item-title">
                                        Nora Silvester
                                        <span class="float-right text-sm text-warning"><i class="fas fa-star"></i></span>
                                    </h3>
                                    <p class="text-sm">The subject goes here</p>
                                    <p class="text-sm text-muted"><i class="far fa-clock mr-1"></i> 4 Hours Ago</p>
                                </div>
                            </div>
                            <!-- Message End -->
                        </a>
                        <div class="dropdown-divider"></div>
                        <a href="#" class="dropdown-item dropdown-footer">See All Messages</a>
                    </div>
                </li>
                <!-- Notifications Dropdown Menu -->
                <li class="nav-item dropdown">
                    <a class="nav-link" data-toggle="dropdown" href="#">
                        <i class="far fa-bell"></i>
                        <span class="badge badge-warning navbar-badge">15</span>
                    </a>
                    <div class="dropdown-menu dropdown-menu-lg dropdown-menu-right">
                        <span class="dropdown-item dropdown-header">15 Notifications</span>
                        <div class="dropdown-divider"></div>
                        <a href="#" class="dropdown-item">
                            <i class="fas fa-envelope mr-2"></i> 4 new messages
                            <span class="float-right text-muted text-sm">3 mins</span>
                        </a>
                        <div class="dropdown-divider"></div>
                        <a href="#" class="dropdown-item">
                            <i class="fas fa-users mr-2"></i> 8 friend requests
                            <span class="float-right text-muted text-sm">12 hours</span>
                        </a>
                        <div class="dropdown-divider"></div>
                        <a href="#" class="dropdown-item dropdown-footer">See All Notifications</a>
                    </div>
                </li>
                <!-- Full Screen Button -->
                <li class="nav-item">
                    <a class="nav-link" data-widget="fullscreen" href="#" role="button">
                        <i class="fas fa-expand-arrows-alt"></i>
                    </a>
                </li>
            </ul>
        </nav>
        <!-- /.navbar -->
        <!-- Main Sidebar Container -->
        <aside class="main-sidebar sidebar-dark-primary elevation-4">
            <!-- Brand Logo -->
            <a asp-controller="Home" asp-action="Index" class="brand-link">
                <img src="~/images/logo.png" alt="logo" class="brand-image img-circle elevation-3" width="100%" height="150px" style="opacity: .8">
                <span class="brand-text font-weight-light">Home </span>
            </a>
            <!-- Sidebar -->
            <div class="sidebar">
                @if (User.Identity.IsAuthenticated)
                {
                    <nav class="mt-2">
                        <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
                            <li class="nav-item ">
                                <a src="#" class="nav-link">
                                    <i class="nav-icon">
                                        @*<img src="~/images/avatar/avatar.png" class="img-circle elevation-2" width="30" alt="User Image">*@
                                        <img src="@profilePicPath" class="img-circle elevation-2" width="30" alt="User Image">
                                    </i>
                                    <p class="info">
                                        @User.Identity.Name
                                        <i class="fas fa-angle-left right"></i>
                                    </p>
                                </a>
                                <ul class="nav-item nav-treeview">
                                    <li class="nav-item">
                                        <a asp-controller="Account" asp-action="Profile" asp-route-id="@userManager.GetUserId(User)" class="nav-link">
                                            <i class="far fa-circle nav-icon"></i>
                                            <p>Profile</p>
                                        </a>
                                    </li>
                                    <li class="nav-item">
                                        <a asp-controller="Account" asp-action="SchoolProfile" asp-route-id="@userManager.GetUserId(User)" class="nav-link">
                                            <i class="far fa-circle nav-icon"></i>
                                            <p>School Profile</p>
                                        </a>
                                    </li>
                                    @if (User.IsInRole("Admin"))
                                    {
                                        <li class="nav-item">
                                            <a asp-controller="Account" asp-action="Roles" class="nav-link">
                                                <i class="nav-icon fas fa-key"></i>
                                                <p>User Permissions</p>
                                            </a>
                                        </li>
                                        <li class="nav-item">
                                            <a asp-controller="Account" asp-action="AllUsers" class="nav-link">
                                                <i class="nav-icon fas fa-users"></i>
                                                <p>Users</p>
                                            </a>
                                        </li>
                                    }
                                </ul>
                            </li>
                        </ul>
                    </nav>
                }
                <!-- Sidebar Menu -->
                <nav class="mt-2">
                    <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
                        <!-- Add icons to the links using the .nav-icon class
                             with font-awesome or any other icon font library -->

                        <li class="nav-item">
                            <a href="#" class="nav-link">
                                <i class="nav-icon fas fa-mug-hot"></i>
                                <p>
                                    Hot topic
                                    <span class="right badge badge-danger">New</span>
                                </p>
                            </a>
                        </li>
                        @if (User.IsInRole("Admin")||User.IsInRole("Teacher"))
                        {
                            <li class="nav-item">
                                <a asp-controller="Grade" asp-action="Index" class="nav-link">
                                    <i class="nav-icon fas fa-copy"></i>
                                    <p>
                                        Class
                                        @*<i class="fas fa-angle-left right"></i>
                                    <span class="badge badge-info right">6</span>*@
                                    </p>
                                </a>

                            </li>
                            <li class="nav-item">
                                <a href="#" class="nav-link">
                                    <i class="nav-icon fas fa-book"></i>
                                    <p>
                                        Subject
                                        <i class="right fas fa-angle-left"></i>
                                    </p>
                                </a>
                                <ul class="nav nav-treeview">
                                    <li class="nav-item">
                                        <a asp-controller="Subject" asp-action="Index" class="nav-link">
                                            <i class="far fa-gear nav-icon"></i>
                                            <p>All Subjects</p>
                                        </a>
                                    </li>
                                    <li class="nav-item">
                                        <a asp-controller="Subject" asp-action="Create" class="nav-link">
                                            <i class="far fa-plus nav-icon"></i>
                                            <p>Add Subject</p>
                                        </a>
                                    </li>
                                </ul>
                            </li>
                            <li class="nav-item">
                                <a asp-controller="Question" asp-action="Index" class="nav-link">
                                    <i class="nav-icon fas fa-copy"></i>
                                    <p>
                                        Question
                                        <i class="fas fa-angle-left right"></i>
                                    </p>
                                </a>
                                <ul class="nav nav-treeview">
                                    <li class="nav-item">
                                        <a asp-controller="Question" asp-action="index" asp-route-id="0" class="nav-link">
                                            <i class="far fa-gear nav-icon"></i>
                                            <p>All Questions</p>
                                        </a>
                                    </li>
                                    <li class="nav-item">
                                        <a asp-controller="Question" asp-action="Create" class="nav-link">
                                            <i class="far fa-plus nav-icon"></i>
                                            <p>Set Question</p>
                                        </a>
                                    </li>
                                </ul>
                            </li>
                        }
                        <li class="nav-item">
                            <a href="#" class="nav-link">
                                <i class="nav-icon fa fa-upload"></i>
                                <p>
                                    Uploads
                                    <i class="fas fa-angle-left right"></i>
                                </p>
                            </a>
                            <ul class="nav nav-treeview">
                                <li class="nav-item">
                                    <a asp-controller="Corner" asp-action="UserDecorate" class="nav-link">
                                        <i class="fa fa-upload nav-icon"></i>
                                        <p>Decorate</p>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a asp-controller="Corner" asp-action="UserSyllabus" class="nav-link">
                                        <i class="fa fa-upload nav-icon"></i>
                                        <p>Syllabus</p>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a asp-controller="Corner" asp-action="UserEvents" class="nav-link">
                                        <i class="fa fa-upload nav-icon"></i>
                                        <p>School Events</p>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a asp-controller="Corner" asp-action="UserManage" class="nav-link">
                                        <i class="fa fa-upload nav-icon"></i>
                                        <p>School Management</p>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a asp-controller="Corner" asp-action="UserNotes" class="nav-link">
                                        <i class="fa fa-upload nav-icon"></i>
                                        <p>Notes</p>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a asp-controller="Corner" asp-action="UserPastPapers" class="nav-link">
                                        <i class="fa fa-upload nav-icon"></i>
                                        <p>Past Papers</p>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a asp-controller="SED" asp-action="UserSED" class="nav-link">
                                        <i class="fa fa-upload nav-icon"></i>
                                        <p>SED</p>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a asp-controller="Books" asp-action="UserIndex" class="nav-link">
                                        <i class="fa fa-upload nav-icon"></i>
                                        <p>Books</p>
                                    </a>
                                </li>
                            </ul>
                        </li>
                        @if(User.IsInRole("Admin"))
                        {
                            <li class="nav-item">
                                <a href="#" class="nav-link">
                                    <i class="nav-icon fas fa-hourglass-half"></i>
                                    <p>
                                        Approvals
                                        <i class="right fas fa-angle-left"></i>
                                    </p>
                                </a>
                                <ul class="nav nav-treeview">
                                    <li class="nav-item">
                                        <a asp-controller="Question" asp-action="Approve" class="nav-link">
                                            <i class="fa fa-hourglass-start nav-icon"></i>
                                            <p>Questions</p>
                                        </a>
                                    </li>
                                    <li class="nav-item">
                                        <a asp-controller="SED" asp-action="Approve" class="nav-link">
                                            <i class="fa fa-hourglass-start nav-icon"></i>
                                            <p>SED</p>
                                        </a>
                                    </li>
                                    <li class="nav-item">
                                        <a asp-controller="Corner" asp-action="Approve" class="nav-link">
                                            <!--@*asp-route-id="9"*@-->
                                            <i class="fa fa-hourglass-end nav-icon"></i>
                                            <p>Uploads </p>
                                        </a>
                                    </li>
                                </ul>
                            </li>
                        }
                        @if (User.IsInRole("Admin")||User.IsInRole("Teacher"))
                        {
                            <li class="nav-item">
                                <a asp-controller="Dashboard" asp-action="index" class="nav-link">
                                    <i class="nav-icon fas fa-clipboard"></i>
                                    <p>
                                        Papers
                                        <i class="fas fa-angle-left right"></i>
                                    </p>
                                </a>
                                <ul class="nav nav-treeview">
                                    <li class="nav-item">
                                        <a asp-controller="Paper" asp-action="UserPapers" class="nav-link">
                                            <i class="fa fa-copy nav-icon"></i>
                                            <p>Generate Paper</p>
                                        </a>
                                    </li>
                                    <li class="nav-item">
                                        <a asp-controller="Paper" asp-action="PaperSetting" asp-route-id="0" class="nav-link">
                                            <i class="fa fa-gear nav-icon"></i>
                                            <p>Paper options</p>
                                        </a>
                                    </li>
                                    <li class="nav-item">
                                        <a asp-controller="Paper" asp-action="PageSetting" class="nav-link">
                                            <i class="fa fa-clipboard nav-icon"></i>
                                            <p>Page Setting</p>
                                        </a>
                                    </li>
                                </ul>
                            </li>
                        }
                        @if (User.IsInRole("Admin") || User.IsInRole("Student"))
                        {
                            <li class="nav-item">
                                <a asp-controller="Dashboard" asp-action="index" class="nav-link">
                                    <i class="nav-icon fa fa-list-ol"></i>
                                    <p>
                                        Quiz
                                        <i class="fas fa-angle-left right"></i>
                                    </p>
                                </a>
                                <ul class="nav nav-treeview">
                                    <li class="nav-item">
                                        <a asp-controller="Quiz" asp-action="UserQuiz" class="nav-link">
                                            <i class="far fa-gear nav-icon"></i>
                                            <p>All Quizes</p>
                                        </a>
                                    </li>
                                    <li class="nav-item">
                                        <a asp-controller="Quiz" asp-action="Create" class="nav-link">
                                            <i class="far fa-gear nav-icon"></i>
                                            <p>Take Quiz</p>
                                        </a>
                                    </li>
                                </ul>
                            </li>
                        }
                        <li class="nav-item">
                            <form class="nav-link" asp-controller="Account" asp-action="Logout">
                                <button class="nav-link " style="background-color: transparent; text-align:left; color:#ced4da; border: none;padding: 0px;margin:0px;cursor: pointer;">
                                    <i class="nav-icon fa fa-arrow-circle-left mr-4"></i>
                                    Log out
                                </button>
                            </form>
                        </li>
                    </ul>
                </nav>
                <!-- /.sidebar-menu -->
            </div>
            <!-- /.sidebar -->
        </aside>


        <!-- Content Wrapper. Contains page content -->
        <div class="content-wrapper">
            <!-- Content Header (Page header) -->
            @*<div class="content-header">
            <div class="container-fluid">
            <div class="row mb-2">
            <div class="col-sm-6">
            <h1 class="m-0"></h1>
            </div><!-- /.col -->
            <div class="col-sm-6">
            </div><!-- /.col -->
            </div><!-- /.row -->
            </div><!-- /.container-fluid -->
            </div>*@

            <!-- /.content-header -->
            <!-- Main content -->

            <section class="content">
                <div class="container-fluid">

                    @RenderBody()

                </div>
            </section>
            <!-- /.content -->

        </div>
        <!-- /.content-wrapper -->
        <!-- Control Sidebar -->
        <aside class="control-sidebar control-sidebar-dark">
            <!-- Control sidebar content goes here -->
        </aside>
        <!-- /.control-sidebar -->
        <!-- Main Footer -->
        <footer class="main-footer">
            <strong>Copyright &copy; @DateTime.Now.Year <a href="#">ExamSystem</a>.</strong>
            All rights reserved.
            <div class="float-right d-none d-sm-inline-block">
                <b>Version</b> 1.0.0
            </div>
        </footer>
    </div>
    <!-- ./wrapper -->
    <!-- REQUIRED SCRIPTS -->
    <!-- jQuery -->
    <script src="~/admin/js/jquery/jquery.min.js"></script>
    <!-- Bootstrap -->
    <script src="~/admin/js/bootstrap/bootstrap.bundle.min.js"></script>
    <!-- overlayScrollbars -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/overlayscrollbars/1.13.3/js/OverlayScrollbars.min.js" integrity="sha512-Ae2SccSxoNp/Cn7PIlowLk8cmVyyW5aSCbrB/k08h/yYeK3zrNJ/oAJf8RK/ZD95G8KjkzPIXxKbeYPn43KC0w==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    @*<script src="~/admin/js/overlayScrollbars/jquery.overlayScrollbars.min.js"></script>*@
    <!-- AdminLTE App -->
    <script src="~/admin/js/adminlte.js"></script>

    <!-- PAGE PLUGINS -->
    <!-- jQuery Mapael -->
    <script src="~/admin/js/jquery-mousewheel/jquery.mousewheel.js"></script>
    <script src="~/admin/js/raphael/raphael.min.js"></script>
    <script src="~/admin/js/jquery-mapael/jquery.mapael.min.js"></script>
    <script src="~/admin/js/jquery-mapael/maps/usa_states.min.js"></script>
    <!-- ChartJS -->
    <script src="~/admin/js/chart.js/Chart.min.js"></script>

    <!-- script for CK Editor to inject mathjax in editor -->
    <script src="https://cdn.ckeditor.com/4.16.0/standard/ckeditor.js"></script>
    <!-- MathJax script for mathe equations display -->
    <script src="https://polyfill.io/v3/polyfill.min.js?features=es6"></script>
    <script id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js"></script>
    
    <!-- DataTable for bootstrap tables -->
    <script type="text/javascript" src="https://cdn.datatables.net/v/dt/dt-1.12.1/datatables.min.js"></script>
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>   <!-- SweetAlerts-->
    <!-- Include the summerNote library for RichTextEditor -->
    <script src="https://cdn.jsdelivr.net/npm/summernote@0.8.18/dist/summernote.min.js"></script>

    @await RenderSectionAsync("Scripts", required: false)   
</body>
</html>









