@model ExamSystem.Models.Books

@inject UserManager<ApplicationUser> UserManager

@{
    Enum.TryParse(Model.Code, out BookCategory category);
}

<div class=" filter @category">
    <div class="card">
        @*<a href="@WC.PDF_Book_Path@Model.FileName" target="_blank">*@
        <a asp-controller="Books" asp-action="Details" asp-route-id="@Model.Id">
            <div class="bg-image hover-zoom ripple ripple-surface ripple-surface-light" data-mdb-ripple-color="light">
                <img src="@WC.PDF_Book_Path@Model.FileThumbnail" alt="Card image cap" width="100%" height="200px">
            </div>
            <label class="text-light">@category.ToString()</label>
            <label class="text-light text-center">@Model.BookType</label>
            <div class="card-block">
                <h4>@Model.Title</h4>
                <span class="text-danger">Author: @Model.Author</span>
                <p>@Model.Description</p>

            </div>
        </a>
        @if (User.Identity.IsAuthenticated)
        {
            <p>
                <a asp-controller="Books" asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-primary float-left"><i class="fas fa-pencil"></i>Edit</a>
                @if (User.IsInRole(UserRoles.Admin))
                {
                    <a asp-controller="Books" asp-action="Delete" asp-route-id="@Model.Id" class="btn btn-danger float-right"><i class="fas fa-recycle"></i>Delete</a>
                }
            </p>
        }
    </div>
</div>
