<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - OPEGS</title>

      <!-- Mobile Specific Metas
  ================================================== -->
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="description" content="Exam system">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=5.0">
  <meta name="author" content="mkkb917" />
  <meta name="generator" content="M kamran khan exam system">

    @*Custom CSS *@
    <link rel="stylesheet" href="~/css/style.css" asp-append-version="true" />
    

    @*plugin css style*@
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
    <link rel="stylesheet" href="~/lib/themify-icons/themify-icons.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/lib/slick/slick.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/lib/slick/slick-theme.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/lib/fancybox/jquery.fancybox.min.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/lib/aos/aos.css" asp-append-version="true" />

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.2/font/bootstrap-icons.css" integrity="sha384-b6lVK+yci+bfDmaY1u0zE8YYJt0TZxLEAFyYSLHId4xoVvsrQu3INevFKo+Xir8e" crossorigin="anonymous">
    
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <!-- overlayScrollbars -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/overlayscrollbars/1.13.3/css/OverlayScrollbars.css" integrity="sha512-LSGPGnehGYGsh7/QTPRwe1VGplv3tVHmlDw6hI/hrEYaaI0OBFE2x6Pdo8DdAKIkJuYfbShXwDjq/SJxbsE9Tg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
 
</head>
<body class="body-wrapper" data-spy="scroll" data-target=".privacy-nav">

 @*<-----Main Menu----> *@
 <!-- Render the Main Menu with authentication and authorization-->
    <partial name="_NavMenu" />



    <div class="container-fluid">
        <div class="container">
            <!-- BreadCrumbs-->
@*@if (ViewBag.Breadcrumbs != null)
{
    <nav aria-label="breadcrumb" class="ml-10">
        <ol class="breadcrumb bg-white justify-content-center justify-content-md-start justify-content-lg-start justify-content-xl-start">
            @foreach (var breadcrumb in ViewBag.Breadcrumbs as List<Breadcrumb>)
            {
                if (breadcrumb.Active)
                {
                    <li class="breadcrumb-item active"><a asp-action="@breadcrumb.Action" asp-controller="@breadcrumb.Controller">@breadcrumb.Text</a></li>
                }
                else
                {
                    <li class="breadcrumb-item" aria-current="page">@breadcrumb.Text</li>
                }
            }
        </ol>
    </nav>
}*@
        </div>
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

@*<------Footer----->*@
<footer>
 
     <partial name="_Footer" />

  <div class="text-center bg-dark py-4">
    <small class="text-secondary">Copyright &copy; <script>document.write(new Date().getFullYear())</script>. Designed &amp; Developed by <a href="https://mkamrankhan.com/" target="_blank">M Kamran Khan</a></small class="text-secondary">
  </div>
</footer>


    @*java script files*@

    <script src="~/lib/jquery/jquery.min.js"></script>
    <script src="~/lib/bootstrap/bootstrap.min.js"></script>
    <script src="~/lib/slick/slick.min.js"></script>
    <script src="~/lib/fancybox/jquery.fancybox.min.js"></script>
    <script src="~/lib/syotimer/jquery.syotimer.min.js"></script>
    <script src="~/lib/aos/aos.js"></script>
    <!-- google map -->
    <!--<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAgeuuDfRlweIs7D6uo4wdIHVvJ0LonQ6g"></script>-->
    <script src="https://maps.googleapis.com/maps/api/js?"></script> 
    <script src="~/lib/google-map/gmap.js"></script>

    <script src="~/js/script.js" asp-append-version="true"></script>
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>   <!-- SweetAlerts-->

    @await RenderSectionAsync("Scripts", required: false)    //, required: false
</body>
</html>
