@model ExamSystem.Data.ViewModels.PaperViewVM
@inject IWebHostEnvironment webHostEnvironment
@{
    ViewData["Title"] = "PaperPecLayout";
    //Layout = "PaperBoardLayout";
    // string imagePath = webHostEnvironment.WebRootPath + WC.LogoPath;
    // string qrCodePath = webHostEnvironment.WebRootPath + WC.QrCodePath;
    //int i = 1;
    TimeSpan t = TimeSpan.FromMinutes(Convert.ToInt32(Model.Setting.Duration));
    int totalQuestions = Model.MCQs.Count;
    int questionsPerPage = totalQuestions / 2; // Display half on each side
}
<div style="background-repeat:no-repeat; align-items:center; background-position:center; background-size:contain;  background-image:url('https://localhost:7278/images/logo.png'); ">
    <div asp-validation-summary="ModelOnly" class="text-danger" style="flex-basis: 100%;"></div>
    <!-- Header section -->
    <table style=" width:100%; border:solid;text-align:center; margin:0px;padding:0px;">
        <tr style="border:solid;">
            <td style="border:solid">
                <div style="align-items:center">
                    <img src="@WC.LogoPath@Model.Setting.SchoolLogo" style="width: 100px; height: 100px">
                </div>
            </td>
            <td colspan="2" style="width:100%;">
                <table style="width:100%; text-align:center; margin:0px; ">
                    <tr style="margin:0px;">
                        <td colspan="4" style="width:80%;">
                            <h1 style="font-family:'Century Schoolbook'; color:darkblue;"><strong> @Model.Setting.SchoolName </strong></h1>
                        </td>
                    </tr>
                    <tr style="margin:0px;">
                        <td style="width:26%;margin:0px;">
                            <h4 style="align-items:center; margin:0px;"> @Model.Setting.ClassName </h4>
                        </td>
                        <td style="width:26%;margin:0px; ">
                            <h4 style="align-items:center; margin:0px;"> @Model.Setting.SubjectName </h4>
                        </td>
                        <td style="width:22%;margin:0px;">
                            <h4 style="align-items:center; margin:0px;"> @Model.Setting.TeacherName </h4>
                        </td>
                        <td style="width:26%;margin:0px;">
                            <h4 style="align-items:center; margin:0px;"> @Model.Setting.ExamName </h4>
                        </td>
                    </tr>
                </table>
            </td>
            <td style="border:solid">
                <div id="QrCodeArea">
                    <!-- QrCode is inserted here dynamically along with its path by pdf generator-->
                    <img src="@WC.QrCodePath@Model.Setting.QrCode" style="width: 100px; height: 100px;margin:0px;">
                </div>
            </td>
        </tr>
    </table>
    <table style="  width:100%; border:solid;text-align:center; margin:0px;">
        <tr style="border:solid">
            <td style="width:20%; border-right:solid;">
                <table style="width:100%;  text-align:center; margin:0px; ">
                    <tr style="margin:0px;">
                        <td style="">
                            <p style="margin:0px;">Total Marks: @Model.Setting.TotalMarks</p>
                        </td>
                    </tr>
                    <tr style="margin:0px;">
                        <td style="align-content:center;margin:0px;">
                            <p style="margin:0px; color:red;">Passing Marks: @Model.Setting.PassingMarks</p>
                        </td>
                    </tr>
                </table>
            </td>
            <td style="width:60%; ">
                <table style="width:100%;  text-align:center; margin:0px; ">
                    <tr style="margin:0px;">
                        <td style="width:30%; text-align:left;">
                            <p style="margin:0px;">Roll No:</p>
                        </td>
                        <td style="width:70%; text-align:left;">
                            <p style="margin:0px;">Student Name:</p>
                        </td>
                    </tr>
                </table>

            </td>
            <td style="width:20%; border-left:solid;">
                <table style="width:100%;  text-align:center; margin:0px; ">
                    <tr style="margin:0px;">
                        <td style="">
                            <p style="color:red;margin:0px;">Date:&nbsp;&nbsp;@Model.Setting.ConductDate.ToString("dd-MMM-yyyy")</p>
                        </td>
                    </tr>
                    <tr style="margin:0px;">
                        <td style="align-content:center;margin:0px;">
                            <p style="margin:0px;">Time: @t.ToString(@"hh\:mm") Hours</p>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>

    <div style="text-align:center;margin:2px; padding:0px;">
        <h4 style="text-align:center; color:blue; margin:0px; padding:0px;">Section 1 : Obejctive Part </h4>
    </div>

    <table style="  font-size:large; font-weight:30; margin:0px; padding:0px; width:100%;" id="question">
        <tr style="text-align:justify-all; width:100%; margin:0px; padding:0px;">
            <td style="width:50%; text-align:left;">
                <h5><strong>Question#1:</strong>Encircle the appropriate option from following?</h5>
            </td>
            <td style="width:10%; text-align:center;">
                <p>[@Model.Setting.MCQsMarks x @Model.MCQs.Count(x => x.QuestionType == QuestionTypes.MCQ) = @(@Model.Setting.MCQsMarks * @Model.MCQs.Count(x => x.QuestionType == QuestionTypes.MCQ))]</p>
            </td>
            <td style="width:40%; text-align:right" dir="rtl">
                <h5 dir="rtl" style="font-family:'Jameel Noori Nastaleeq' !important;text-align:right"><strong>سوال نمبر 1:</strong>درست جواب کے گرد دائرہ لگائیں۔</h5>
            </td>
        </tr>
    </table>

    <div style="display: flex;">
        
        <!-- Left Column -->
        <div style="flex: 1;">
            @for (int i = 0; i < Model.MCQs.Count / 2; i++)
            {
                <table style="  border:solid; border-block-width: 1px; width:100%; margin:0px; padding:0px;">
                    <!-- Objective Paper Part-->
                    <tr style=" width:100%; margin:0px;">
                        <td style="width:60%; text-align:left;">
                            @(i+1):  @Model.MCQs[i].QuestionText
                        </td>
                        <td style="width:40%; text-align:right;" dir="rtl">
                            @(i+1): <span style="font-family:'Jameel Noori Nastaleeq' !important;">@Model.MCQs[i].QuestionTextL</span>
                        </td>
                    </tr>
                    <tr style="width:100%; margin-left:5px; padding:0px;">
                        <td style=" width:50%;text-align:left; margin-left:10px">
                            @Model.MCQs[i].OptionsQnA.Choice1 &nbsp;|
                            <span dir="rtl" style="font-family:'Jameel Noori Nastaleeq' !important;">@Model.MCQs[i].OptionsQnA.ChoiceL1</span>
                        </td>
                        <td style="width:50%; margin-right:5px; text-align:right;">
                            @Model.MCQs[i].OptionsQnA.Choice2 &nbsp;|
                            <span dir="rtl" style=" font-family:'Jameel Noori Nastaleeq' !important;">@Model.MCQs[i].OptionsQnA.ChoiceL2</span>
                        </td>
                    </tr>
                    <tr style="width:100%; margin-left:5px; padding:0px;">
                        <td style="width:50%; text-align:left;">
                            @Model.MCQs[i].OptionsQnA.Choice3 &nbsp;|
                            <span dir="rtl" style="font-family:'Jameel Noori Nastaleeq' !important;">@Model.MCQs[i].OptionsQnA.ChoiceL3</span>
                        </td>
                        <td style="width:50%; margin-right:5px; text-align:right;">
                            @Model.MCQs[i].OptionsQnA.Choice4 &nbsp;|
                            <span dir="rtl" style="font-family:'Jameel Noori Nastaleeq' !important;">@Model.MCQs[i].OptionsQnA.ChoiceL4</span>
                        </td>
                    </tr>
                </table>
            }
        </div>

        <!-- Right Column -->
        <div style="flex: 1;">

            @{
                int startIndex = Model.MCQs.Count / 2;
                for (int i = startIndex, count = 1; i < Model.MCQs.Count; i++, count++)
                {
                    <table style="  border:solid; border-block-width: 1px; width:100%; margin:0px; padding:0px;">
                        <!-- Objective Paper Part-->
                        <tr style=" width:100%; margin:0px;">
                            <td style="width:60%; text-align:left;">
                                @(startIndex+count):  @Model.MCQs[i].QuestionText
                            </td>
                            <td style="width:40%; text-align:right;" dir="rtl">
                                @(startIndex+count): <span style="font-family:'Jameel Noori Nastaleeq' !important;">@Model.MCQs[i].QuestionTextL</span>
                            </td>
                        </tr>
                        <tr style="width:100%; margin:0px; padding:0px;">
                            <td style=" width:50%; text-align:left; margin-left:10px">
                                @Model.MCQs[i].OptionsQnA.Choice1 &nbsp;|
                                <span dir="rtl" style="font-family:'Jameel Noori Nastaleeq' !important;">@Model.MCQs[i].OptionsQnA.ChoiceL1</span>
                            </td>
                            <td style="width:50%;margin-right:5px; text-align:right;">
                                @Model.MCQs[i].OptionsQnA.Choice2 &nbsp;|
                                <span dir="rtl" style=" font-family:'Jameel Noori Nastaleeq' !important;">@Model.MCQs[i].OptionsQnA.ChoiceL2</span>
                            </td>
                        </tr>
                        <tr style="width:100%; margin:0px; padding:0px;">
                            <td style="width:50%; margin-left:10px; text-align:left;">
                                @Model.MCQs[i].OptionsQnA.Choice3 &nbsp;|
                                <span dir="rtl" style="font-family:'Jameel Noori Nastaleeq' !important;">@Model.MCQs[i].OptionsQnA.ChoiceL3</span>
                            </td>
                            <td style="width:50%; margin-right:5px; text-align:right;">
                                @Model.MCQs[i].OptionsQnA.Choice4 &nbsp;|
                                <span dir="rtl" style="font-family:'Jameel Noori Nastaleeq' !important;">@Model.MCQs[i].OptionsQnA.ChoiceL4</span>
                            </td>
                        </tr>
                    </table>
                }
            }
        </div>
    </div>
</div>
