@model ExamSystem.Data.ViewModels.PaperViewVM
@inject IWebHostEnvironment webHostEnvironment
@{
    ViewData["Title"] = "PaperBoardLayout";
    // string imagePath = webHostEnvironment.WebRootPath + WC.LogoPath;
    // string qrCodePath = webHostEnvironment.WebRootPath + WC.QrCodePath;
    //Layout = "PaperBoardLayout";
    TimeSpan t = TimeSpan.FromMinutes(Convert.ToInt32(Model.Setting.Duration));
}
<div style="background-repeat:no-repeat; align-items:center; background-position:center; background-size:contain; background: rgba(255, 255, 255, 0.3) background-image:url('https://localhost:7278/images/logo.png');">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <table style="width:100%; border:solid;text-align:center; margin:0px;padding:0px">
        <tr style="border:solid;">
            <td style="border:solid">
                <div style="align-items:center">
                    <img src="@WC.LogoPath@Model.Setting.SchoolLogo" style="width: 100px; height: 100px">
                </div>
            </td>
            <td colspan="2" style="width:100%;">
                <table style="width:100%; text-align:center; margin:0px; ">
                    <tr style="margin:0px;">
                        <td colspan="4" style="width:80%;">
                            <h1 style="font-family:'Century Schoolbook'; color:darkblue;"><strong> @Model.Setting.SchoolName </strong></h1>
                        </td>
                    </tr>
                    <tr style="margin:0px;">
                        <td style="width:26%;margin:0px;">
                            <h4 style="align-items:center; margin:0px;"> @Model.Setting.ClassName </h4>
                        </td>
                        <td style="width:26%;margin:0px; ">
                            <h4 style="align-items:center; margin:0px;"> @Model.Setting.SubjectName </h4>
                        </td>
                        <td style="width:22%;margin:0px;">
                            <h4 style="align-items:center; margin:0px;"> @Model.Setting.TeacherName</h4>
                        </td>
                        <td style="width:26%;margin:0px;">
                            <h4 style="align-items:center; margin:0px;"> @Model.Setting.ExamName </h4>
                        </td>
                    </tr>
                </table>
            </td>
            <td style="border:solid">
                <div id="QrCodeArea">
                    <!-- Image is inserted here dynamically by pdf generator-->
                    <img src="@WC.QrCodePath@Model.Setting.QrCode" style="width: 100px; height: 100px; margin:0px;">
                </div>
            </td>
        </tr>
    </table>
    <table style="width:100%; border:solid;text-align:center; margin:0px;">
        <tr style="border:solid">
            <td style="width:20%; border-right:solid;">
                <table style="width:100%;  text-align:center; margin:0px; ">
                    <tr style="margin:0px;">
                        <td style="">
                            <p style="margin:0px;">Total Marks: @Model.Setting.TotalMarks</p>
                        </td>
                    </tr>
                    <tr style="margin:0px;">
                        <td style="align-content:center;margin:0px;">
                            <p style="margin:0px;">Passing Marks: @Model.Setting.PassingMarks</p>
                        </td>
                    </tr>
                </table>
            </td>
            <td style="width:60%; ">
                <table style="width:100%;  text-align:center; margin:0px; ">
                    <tr style="margin:0px;">
                        <td style="width:30%; text-align:left;">
                            <p style="margin:0px;">Roll No:</p>
                        </td>
                        <td style="width:70%; text-align:left;">
                            <p style="margin:0px;">Student Name:</p>
                        </td>
                    </tr>
                </table>

            </td>
            <td style="width:20%; border-left:solid;">
                <table style="width:100%;  text-align:center; margin:0px; ">
                    <tr style="margin:0px;">
                        <td style="">
                            <p style="color:red;margin:0px;">Date:&nbsp;&nbsp;@Model.Setting.ConductDate.ToString("dd-MMM-yyyy")</p>
                        </td>
                    </tr>
                    <tr style="margin:0px;">
                        <td style="align-content:center;margin:0px;">
                            <p style="margin:0px;">Time: @t.ToString(@"hh\:mm") Hours</p>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>
    <table style="width:100%;border:solid; margin:0px; padding:0px;">
        <tr style="margin:0px;">
            <td style="width:5%; text-align:left; border:solid;">
                <p style="margin:0px;">Marks</p>
            </td>
            <td style="width:8%; text-align:left; border:solid;">
                <p style="margin:0px;">Q1:</p>
            </td>
            <td style="width:8%; text-align:left; border:solid;">
                <p style="margin:0px;">Q2:</p>
            </td>
            <td style="width:8%; text-align:left; border:solid;">
                <p style="margin:0px;">Q3:</p>
            </td>
            <td style="width:8%; text-align:left; border:solid;">
                <p style="margin:0px;">Q4:</p>
            </td>
            <td style="width:8%; text-align:left; border:solid;">
                <p style="margin:0px;">Q5:</p>
            </td>
            <td style="width:8%; text-align:left; border:solid;">
                <p style="margin:0px;">Q6:</p>
            </td>
            <td style="width:8%; text-align:left; border:solid;">
                <p style="margin:0px;">Q7:</p>
            </td>
            <td style="width:8%; text-align:left; border:solid;">
                <p style="margin:0px;">Q8:</p>
            </td>
            <td style="width:8%; text-align:left; border:solid;">
                <p style="margin:0px;">Q9:</p>
            </td>
            <td style="width:8%; text-align:left; border:solid;">
                <p style="margin:0px;">Q10:</p>
            </td>
            <td style="width:10%; text-align:left; border:solid;">
                <p style="margin:0px;">Total:</p>
            </td>
        </tr>
    </table>
    <table style="width:100%; border:solid; margin:0px;padding:0px;">
        <tr>
            <td colspan="2" style="margin:0px;padding:0px; ">
                <p style="color:blue; text-align:center; margin-bottom:0px;">Examination Instructions. Read carefully....</p>
            </td>
        </tr>
        <tr style="margin:auto;">
            <td>
                <p style="margin:2px;font-family:'Jameel Noori Nastaleeq' !important;text-align:right">@Model.Setting.Instructions</p>
            </td>
        </tr>
    </table>
    <!-- Paper Section Starts-->
    <!-- Question Section-->

    <div style="text-align:center;margin:0px; padding:0px;">
        <h4 style="text-align:center; color:blue; margin:0px;">Section: Subjective Part </h4>
    </div>
    <table style="width:100%; font-size:large; font-weight:300; margin:0px; padding:0px;" id="question">
        <tr style="text-align:justify-all; width:100%;">
            <td style="width:50%; text-align:left;">
                <h5><strong>Question#2:</strong>Give short answer to following questions?</h5>
            </td>
            <td style="width:10%; text-align:center;">
                <p>[@Model.Setting.SEQsMarks x @Model.SEQs.Count(x => x.QuestionType == QuestionTypes.SEQ) =  @(@Model.Setting.SEQsMarks * @Model.SEQs.Count(x => x.QuestionType == QuestionTypes.SEQ))]</p>
            </td>
            <td style="width:40%; text-align:right" dir="rtl">
                <h5 style="font-family:'Jameel Noori Nastaleeq' !important;"><strong>سوال نمبر 2:</strong>درج زیل سوالات کا مختصر جواب دیں۔</h5>
            </td>
        </tr>
    </table>
    <div style="display: flex;">
        <!-- Short Question Section -->
        <!-- Left Column -->
        <div style="flex: 1;">
            <!-- Question Section-->
            @for (int i = 0; i < Model.SEQs.Count / 2; i++)
            {
                <table style="border:solid; border-block-width: 0.5px;  width:100%; margin:0px; padding:0px;">
                    <tr style=" width:100%; margin:0px; padding:0px;">
                        <td style="width:55%; text-align:left;">
                            @i+1: @Model.SEQs[i].QuestionText
                        </td>
                        <td style="width:5%; text-align:center;">
                            (@Model.Setting.SEQsMarks)
                        </td>
                        <td style="width:40%; text-align:right;" dir="rtl">
                            @i+1: <span style="font-family:'Jameel Noori Nastaleeq' !important;">@Model.SEQs[i].QuestionTextL</span>
                        </td>
                    </tr>
                </table>
            }
        </div>

        <!-- Right Column -->
        <div style="flex: 1;">
            @{
                int startIndex = Model.SEQs.Count / 2;
                for (int i = startIndex, count = 1; i < Model.SEQs.Count; i++, count++)
                {
                    <table style="border:solid; border-block-width: 0.5px;  width:100%; margin:0px; padding:0px;">
                        <tr style=" width:100%; margin:0px; padding:0px;">
                            <td style="width:55%; text-align:left;">
                                @(startIndex + count): @Model.SEQs[i].QuestionText
                            </td>
                            <td style="width:5%; text-align:center;">
                                (@Model.Setting.SEQsMarks)
                            </td>
                            <td style="width:40%; text-align:right;" dir="rtl">
                                @(startIndex + count): <span style="font-family:'Jameel Noori Nastaleeq' !important;">@Model.SEQs[i].QuestionTextL</span>
                            </td>
                        </tr>
                    </table>
                }
            }
        </div>
    </div>
    <table style="width:100%; font-size:large; font-weight:300; margin:0px; padding:0px;" id="question">
        <tr style="text-align:justify-all; width:100%;">
            <td style="width:50%; text-align:left;">
                <h5><strong>Question#3:</strong>Give answer in details to following questions</h5>
            </td>
            <td style="width:10%; text-align:center;">
                <p>[@Model.Setting.LongQsMarks x @Model.LongQs.Count(x => x.QuestionType == QuestionTypes.Long_Question) =  @(@Model.Setting.LongQsMarks * @Model.LongQs.Count(x => x.QuestionType == QuestionTypes.Long_Question))]</p>
            </td>
            <td style="width:40%; text-align:right" dir="rtl">
                <h5 style="font-family:'Jameel Noori Nastaleeq' !important;"><strong>سوال نمبر 2:</strong>درج زیل سوالات کا مختصر جواب دیں۔</h5>
            </td>
        </tr>
    </table>
    <div style="display: flex;">
        <!-- Long Question Section -->
        <!-- Left Column -->
        <div style="flex: 1;">
            <!-- Question Section-->
            @for (int i = 0; i < Model.LongQs.Count / 2; i++)
            {
                <table style="border:solid; border-block-width: 0.5px;  width:100%; margin:0px; padding:0px;">
                    <tr style=" width:100%; margin:0px; padding:0px;">
                        <td style="width:55%; text-align:left;">
                            @(i+1): @Model.LongQs[i].QuestionText
                        </td>
                        <td style="width:5%; text-align:center;">
                            (@Model.Setting.LongQsMarks)
                        </td>
                        <td style="width:40%; text-align:right;" dir="rtl">
                            @(i+1): <span style="font-family:'Jameel Noori Nastaleeq' !important;">@Model.LongQs[i].QuestionTextL</span>
                        </td>
                    </tr>
                </table>
            }
        </div>

        <!-- Right Column -->
        <div style="flex: 1;">

            @{
                int startLIndex = Model.LongQs.Count / 2;
                for (int i = startLIndex, count = 1; i < Model.LongQs.Count; i++, count++)
                {
                    <table style="border:solid; border-block-width: 0.5px;  width:100%; margin:0px; padding:0px;">
                        <tr style=" width:100%; margin:0px; padding:0px;">
                            <td style="width:55%; text-align:left;">
                                @(startLIndex + count): @Model.LongQs[i].QuestionText
                            </td>
                            <td style="width:5%; text-align:center;">
                                (@Model.Setting.LongQsCount)
                            </td>
                            <td style="width:40%; text-align:right;" dir="rtl">
                                @(startLIndex + count): <span style="font-family:'Jameel Noori Nastaleeq' !important;">@Model.LongQs[i].QuestionTextL</span>
                            </td>
                        </tr>
                    </table>
                }
            }
        </div>
    </div>

    <!-- Paper footer section -->
    <div id="meta" class="table  table-hover">
        <div class="row">
        </div>
    </div>
</div>


@section Scripts {
    <script>

    </script>
}
