@model ExamSystem.Models.Uploads
@inject UserManager<ApplicationUser> userManager;
@using ExamSystem
@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_DashboardLayout.cshtml";

    string Path = "";
    if (Model.FileType == UploadsCategory.Books) //books
    {
        Path = @WC.UploadBooksPathPDF;
    }
    else if (Model.FileType == UploadsCategory.PastPapers) //pastpapers
    {
        Path = @WC.UploadPaperPathPDF;
    }
    else if (Model.FileType == UploadsCategory.Notes) //Notes
    {
        Path = @WC.UploadNotesPathPDF;
    }
    else if (Model.FileType == UploadsCategory.Syllabus) //syllabus
    {
        Path = @WC.UploadSyllabusPathPDF;
    }
}

<div class="row">
    <div class="col-8">
        <div class="card">
            <!-- /.card-header -->
            <div style="text-align:center; color:red;"> Update</div>
            <div class="card-body table-responsive">
                <form method="post" asp-action="Edit" enctype="multipart/form-data">
                    <table id="tblData" class="table table-bordered table-hover m-3">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <input type="hidden" asp-for="Id" />
                        <input type="hidden" asp-for="Code" />
                        <input type="hidden" asp-for="CreatedBy" />
                        <input type="hidden" asp-for="CreatedOn" />
                        <input type="hidden" asp-for="UpdatedBy" value="@userManager.GetUserName(User)" />
                        <input type="hidden" asp-for="UpdatedOn" value="@DateTime.Now.Date" />
                        <input type="hidden" asp-for="FileType" />
                        <input type="hidden" asp-for="FileName" />
                        <input type="hidden" asp-for="FileThumbnail" />

                        <div class="form-group">
                            <input type="file" id="uploadBox" name="upload" accept="file/pdf" class="form-control" />
                            <span asp-validation-for="FileName" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Title" class="control-label"></label>
                            <input asp-for="Title" class="form-control" />
                            <span asp-validation-for="Title" class="text-danger"></span>
                        </div>

                        <div class="form-group">
                            <label asp-for="Author" class="control-label"></label>
                            <input asp-for="Author" class="form-control" />
                            <span asp-validation-for="Author" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Status" class="control-label"></label>
                            @{
                                if (User.Identity.IsAuthenticated && User.IsInRole("Admin"))
                                {
                                    <select asp-for="Status" class="form-control" asp-items="Html.GetEnumSelectList<Status>()"></select>
                                }
                                else
                                {
                                    <select asp-for="Status" class="form-control" asp-items="Html.GetEnumSelectList<Status>()" disabled></select>
                                }
                            }
                            <span asp-validation-for="Status" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Description" class="control-label"></label>
                            <input asp-for="Description" class="form-control" />
                            <span asp-validation-for="Description" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <input type="submit" value="Save" class="btn btn-primary" />
                        </div>
                    </table>
                </form>
                
            </div>
        </div>
    </div>
    <div class="col-4">
        <div class="d-flex flex-column align-items-center text-center">
            <div class="form-group">
            </div>
                <img src="@Path@Model.FileThumbnail" id="PreviewImg" alt="Notification" class="img" width="350">
            <iframe src="@Path@Model.FileName" id="PreviewFrame" width="350" height="500"></iframe>
        </div>
    </div>
</div>


@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    <script>
        $(document).ready(function () {
            $('#PreviewImg').show();
            $('#PreviewFrame').hide();
        });
        // ok code
        $("#uploadBox").on("change", function () {
            displayFile(this);
            $('#PreviewImg').hide();
            $('#PreviewFrame').show();
            
        });
        function displayFile(input) {
            if (input.files && input.files[0]) {
                var reader = new FileReader();

                reader.onload = function (e) {
                    document.getElementById('PreviewImg').setAttribute('src', e.target.result);
                };

                reader.readAsDataURL(input.files[0]);
            }
        }

        $("#uploadBox").change(function () {
            
        });
        //Preview & Update an image before it is uploaded
        function readURL(input) {
            if (input.files && input.files[0]) {
                var reader = new FileReader();

                reader.onload = function (e) {
                    $('#PreviewFrame').attr('src', e.target.result);
                }
                reader.readAsDataURL(input.files[0]);
            }
        }


    </script>
}
