@model SubjectsIndexVM

@{
    ViewData["Title"] = " All Subjects";
    Layout = "~/Views/Shared/_DashboardLayout.cshtml";
    int sno = 1;
}

<div class="container">
    <h2 style="text-align:center; color:red;"> All Subjects</h2>


    <div class="row">
        <div class="col-12">
            <div class="card">
                <div>
                    @if (User.Identity.IsAuthenticated && User.IsInRole("Admin"))
                    {
                        <a asp-controller="Subject" asp-action="Create" class="btn btn-primary float-right"> <i class="fas fa-plus-circle"></i> Add New Subject</a>
                    }
                    <a class="btn btn-secondary" asp-controller="Grade" asp-action="index"> <i class="fa fa-arrow-left"></i> Back</a>
                </div>
                <div class="card-header">
                    <h3 class="card-title text-center">Manage Subjects</h3>
                </div>
                <!-- /.card-header -->
                <div class="card-body">
                    <div class="row">
                        @foreach (var item in Model.SubjectVm)
                        {
                            <div class="col-12 col-sm-8 col-md-6 col-lg-4">
                                <div class="card">
                                    <a href="@Url.Action("Details", new { id = item.Id })" class="card-link">
                                        <img class="card-img-top" src="https://s3.eu-central-1.amazonaws.com/bootstrapbaymisc/blog/24_days_bootstrap/bologna-1.jpg" alt="Bologna">
                                        <div class="card-body @((item.Status == Status.Active) ? "bg-primary" : "")">
                                            <h4 class="card-title text-center">
                                                @item.SubjectText
                                            </h4>
                                            <h6 class="card-subtitle mb-2 text-muted text-right">@item.Grade.GradeText</h6>
                                            <p class="card-text"> @item.Description</p>
                                            @if (item.Status == Status.Active)
                                            {
                                                <a class="btn  btn-primary" asp-controller="Topic" asp-action="TopicsList" asp-route-id="@item.Id"><i class="fas fa-pencil-square"></i> Chapters:@item.Topic.Count </a>
                                            }
                                            @if (User.IsInRole("Admin"))
                                            {
                                                <a class="btn btn-danger" asp-controller="Subject" asp-action="Delete" asp-route-id="@item.Id">
                                                    <i class="fas fa-trash"></i>
                                                </a>
                                            }
                                        </div>
                                    </a>
                                </div>
                            </div>
                        }
                    </div>
                    <!-- /.card-body -->
                </div>
            </div>
            <!-- /.card -->
        </div>
        <!-- /.col -->
    </div>
</div>

@section Scripts{
    <script>
        // search bar
        $(document).ready(function () {
            $('#tblData').DataTable();
            $('.dataTables_length').addClass('bs-select');
        });
    </script>
    }