@model TopicIndexVM

@{
    ViewData["Title"] = "All Units ";
    Layout = "~/Views/Shared/_DashboardLayout.cshtml";
    int sno = 1;
}

<div class="container">
    <h2 style="text-align:center; color:red;">All Units of @Model.SubjectName</h2>


    <div class="row">
        <div class="col-12">
            <div class="card">
                <div>
                    <a class="btn btn-primary float-right" asp-action="Create" asp-route-id="@Model.SubjectId"><i class="fas fa-pencil-square"></i> Add New Unit</a>
                    <a asp-controller="Subject" asp-action="Details" asp-route-id="@Model.SubjectId" class="btn btn-secondary"> <i class="fa fa-arrow-left"></i> Back</a>
                </div>
                <!-- /.card-header -->
                <div class="card-body ">
                    <div class="row">
                        @foreach (var item in Model.Topic)
                        {
                            <div class="col-12 col-sm-8 col-md-6 col-lg-4">
                                <div class="card">
                                    <a href="@Url.Action("Details", new { id = item.Id })" class="card-link">
                                        <img class="card-img-top" src="@WC.TopicImagePath@item.Image" alt="Unit Image">
                                        <div class="card-body @((item.Status == Status.Active) ? "bg-primary" : "")">
                                            <h4 class="card-title text-center">
                                                @sno @item.TopicText
                                            </h4>
                                            <h6 class="card-subtitle mb-2 text-muted text-right">@item.Subject.SubjectText</h6>
                                            <p class="card-text"> @item.Description</p>
                                            @if (item.Status == Status.Active)
                                            {
                                                <a class="btn  btn-primary" asp-controller="Question" asp-action="Index" asp-route-id="@item.Id"><i class="fas fa-pencil-square"></i> Questions:@item.Question.Count </a>
                                            }
                                            @if (User.IsInRole(UserRoles.Admin))
                                            {
                                                <a class="btn btn-danger" asp-controller="Topic" asp-action="Delete" asp-route-id="@item.Id">
                                                    <i class="fas fa-trash"></i>
                                                </a>
                                            }
                                        </div>
                                    </a>
                                </div>
                            </div>
                            sno++;  //increment the counter 
                        }
                    </div>
                </div>
                <!-- /.card-body -->
            </div>
            <!-- /.card -->
        </div>
        <!-- /.col -->
    </div>
</div>

@section Scripts{
    <script>
        // search bar
        $(document).ready(function () {
            $('#tblData').DataTable();
            $('.dataTables_length').addClass('bs-select');
        });
    </script>
    }